#picture {
    position: absolute;
    width: 650px; 
    height: 350px;
    
}
#picture::after {
    content: "";
    position: absolute;
    width: 100,5%;
    height: 51%;
    bottom: -7px;
    left:-7px;
    right: -7px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;
    border-left: 4px solid black;
    opacity: 0;
    transition: 2s;
    transform: scaleX(0);
}
#picture:hover:after {
    width: 100,5%;
    height: 51%; 
    opacity: 1;
    transform: scaleX(1);
    transition-duration: 4s;
}
#picture::before {
    content: "";
    position: absolute;
    height: 51%;
    top: -7px;
    left:-7px;
    right: -7px;
    border-top: 4px solid black;
    border-right: 4px solid black;
    border-left: 4px solid black;
    opacity: 0;
    transition: 2s;
    transform: scaleX(0);
  
}
#picture:hover:before {
    width: 100,5%;
    height: 51%; 
    opacity: 1;
    transform: scaleX(1);
    transition-duration: 4s;
}
h1 {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    transform: scaleX(0);
    transition: 2s;
    text-align: center;
}
#picture:hover h1 {
    transform: scaleX(1);
    font-size: 3rem;
}
